*{
    margin: 0;
}
#main-div{
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
    padding: 50px;
}
.item{
    cursor: pointer;
    padding: 10px;
    background-color: white;
    width: 150px;
    border: 1px solid gray;
    margin: 5px;
    border-radius: 5px;
}